body {
    background-color: #424242;
    color: white;
}

#mainNav {
    padding: 0.5em;

    text-align: center;
    border-style: none none dotted none;
    border-width: 0.2em;


}


.accordionBG {
    background-color: #626262;
}

.bor {
    border-color: red;
    border-style: solid;
}

.selectionBG {
    background-color: #626262;
    color: white;
}

textarea {
    resize: none;
}

#cardList:disabled {
    background-color: black;
    color:dimgrey;
}

#questionTextArea:disabled {
    background-color: black;
    color: dimgrey;
}
#answerTextArea:disabled {
    background-color: black;
    color:dimgrey;
}

#questionTextArea::placeholder {
    color: rgb(128, 128, 128);
}

#answerTextArea::placeholder {
    color: rgb(128, 128, 128);
}

.displayNone {
    display: none;
}