body {
    background-color: #424242;
    color: white;
}

#mainNav {
    padding: 0.5em;

    text-align: center;
    border-style: none none dotted none;
    border-width: 0.2em;


}


.accordionBG {
    background-color: #626262;
}

.bor {
    border-color: red;
    border-style: solid;
}

.selectionBG {
    background-color: #626262;
    color: white;
}

textarea {
    resize: none;
}

textarea:sel