#flashCard {
    padding: 1em 1em 1em 1em;
    border-radius: 0.5em;
    border-style: solid;
    border-color: white;
    height: 200px;
    display:flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-color: #626262;
    transition: background-color 0.25s ease-in-out;
}



#flashCard:hover {
    cursor: pointer;
    background-color: #7c7c7c;
    transition: background-color 0.5s ease-in-out;
}



.controlButton {
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: #626262;
    border-radius: 0.5em;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.nextButton{
    background-color: #0300a9;
}




.controlButton:hover {
    cursor: pointer;
    background-color: #7c7c7c;
    transition: background-color 1s ease-in-out;
}

.nextButton:hover{
    background-color: #120ed2;
}

.controlDisable {
    background-color: #c0c0c0;
}

.controlDisable:hover {
    background-color: #c0c0c0;
}

.deckList{
    margin-top: 20px;
    background-color: #484848;
    padding:10px;
    color:white;
    scrollbar-color: #120ed2 #484848;;
    scrollbar-width: thin;
    border: 0;
    border-radius: 10px;
}

.deckList:focus {
    border: 0;
    outline: 0;
}

option {
    padding: 4px;
}




@media (max-width: 800px) {
    #flashCard{
        width: 80%;
    }
}