#flashCard {
    padding: 1em 1em 1em 1em;
    border-radius: 1.5em;
    border-width: 0px;
    border-style: solid;
    border-color: white;
    height: 200px;
    display:flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-color: #626262;
    transition: background-color 0.25s ease-in-out;
}



#flashCard:hover {
    cursor: pointer;
    background-color: #3f3f3f;
    transition: background-color 0.5s ease-in-out;
}



.controlButton {
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: #626262;
    border-radius: 0.5em;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 8.5em
}

.nextButton{
    background-color: #0300a9;
}




.controlButton:hover {
    cursor: pointer;
    background-color: #0300a9;
    transition: background-color 0.5s ease-in-out;
}

.nextButton:hover{
    background-color: #120ed2;
}

.controlDisable {
    background-color: #414141;
    color: dimgrey;
}

.controlDisable:hover {
    background-color: #414141;
    color: dimgrey;
    cursor: default;
}

.deckList{
    margin-top: 20px;
    background-color: #484848;
    padding:10px;
    color:white;
    scrollbar-color: #120ed2 #484848;;
    scrollbar-width: thin;
    border: 0;
    border-radius: 10px;
    width: 900px;
}

.deckList:focus {
    outline: 0;
}


option {
    padding: 6px;
}

textarea {
    background-color: #484848;
    border:0;
    border-radius:10px;
    color:white;
    font-family: "JetBrains Mono", sans-serif;
    width: 900px;
    padding: 25px 10px 25px 10px;
}

textarea:focus{
    outline:0;
    color:white;
}

.addEditContent {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
}
@media (max-width: 800px) {
    #flashCard{
        width: 80%;
    }
    .deckList{
        width: 700px;
    }
    textarea {
        width: 80%;
    }
    .addEditContent {
        align-items:center;
    }
}

@media (min-width: 801px) and (max-width: 1200px) {
    #flashCard{
        width: 700px;
    }
    .deckList{
        width: 800px;
    }
    textarea {
        width: 700px;
    }
    .addEditContent {
        align-items:center;
    }
}

