#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.title {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.controls {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.jbFont{
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.navStyle {
  width:100%;
  margin: auto;
  display:flex;
  justify-content:Space-Evenly;
  align-items:Center}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 1280px;
  margin-bottom: 20px;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

@media (max-width: 800px) {
  .mainContent {
    width: 700px;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  .mainContent {
    width: 900px;
  }
}



