#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
}

.mainContent {
  display: flex;
  justify-content: center;
}

.addEditContent {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

textarea {
  background-color: #484848;
  border:0;
  border-radius:10px;
  color:white;
  font-family: "Arial", sans-serif
}

textarea:focus{
  outline:0;
  color:white;
}